.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.titleBox {
  background-color: #F08080;
  height: 700px;
  display: flex;
}